<h1 class="display-1">Schaltschrank: <span class="d-inline-block px-3 text-white bg-dark">{{cabinet["id"]}}</span></h1>

<table class="table table-dark mb-4">
  <thead>
    <tr>
      <th>ID</th>
      <th>Breite</th>
      <th>Höhe</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{cabinet["id"]}}</td>
      <td>{{cabinet["width"]}}</td>
      <td>{{cabinet["height"]}}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="cabinet_devices === undefined || (cabinet_devices !== undefined && cabinet_devices.length === 0)">
  <em>Keine zugewiesenen Geräte vorhanden.</em>
</p>

<div *ngIf="cabinet_devices !== undefined && cabinet_devices.length > 0">
  <h1 class="display-3 mb-2">Zugewiesene Geräte ({{cabinet_devices.length}})</h1>

  <table class="table table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Breite</th>
        <th>Höhe</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cabinet_device of this.cabinet_devices">
        <td>{{data.getLocalStorageDataItem('devices',cabinet_device['device_id'])[0]['id']}}</td>
        <td>{{data.getLocalStorageDataItem('devices',cabinet_device['device_id'])[0]['width']}}</td>
        <td>{{data.getLocalStorageDataItem('devices',cabinet_device['device_id'])[0]['height']}}</td>
        <td>x: {{cabinet_device['position']['x']}} / y: {{cabinet_device['position']['y']}}</td>
      </tr>
    </tbody>
  </table>
</div>
