.cabinet-mockup {
  position: relative;
  .cabinet-mockup--body {
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    outline: 2px solid black;
    box-shadow: inset rgba(255, 255, 255, 0.7) 0 2px 11px 0px;
    background-image: linear-gradient(180deg, #c7c7c7 0%, #e6e5e5 40%, #c7c7c7 79%, #b3b2b2 100%);
  }
  .cabinet-mockup--feet {
    position: absolute;
    width: 100%;
    &:before, &:after {
      content: '';
      background: black;
      width: 10px;
      height: 10px;
      position: absolute;
    }
    &:before {
      left: 5px;
    }
    &:after {
      right: 5px;
    }
  }
  // CABINET DEVICES
  .cabinet-device {
    position: absolute;
    border: 1px dotted black;
    background-color: rgba(162,48,48,0.3);
  }

}
