// BOOTSTRAP
@import "variables";
@import "~bootstrap/scss/bootstrap";
// MATERIAL ICON
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// ############################################################
//  HEADER
// ############################################################
#header {
  @extend .mb-5;
  //
  // NAVBAR
  .navbar {
    .navbar-brand {
      img {
        width: 3rem;
      }
    } // END .navbar-brand
    ul {
      li {
        a {
          .material-icons { vertical-align: bottom; }
        } // END A
      } // END LI
    } // END UL
  } // END .navbar
} // END #header

// ############################################################
//  FORMS
// ############################################################
//
// BUTTONS
button[type='submit']:disabled {
  background-color: lightgrey;
  border-color: grey;
  color: dimgrey;
  cursor: not-allowed;
}
.action-buttons {
  text-align: right;
  .btn {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  } // END .btn
} // END .button-actions
